  
 * {
    margin:0;
    padding:0;
    box-sizing:border-box;

  
  }
  
.book{
  background-color:rgb(154, 171, 195) ;
  width: 400px;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;


}
.parent{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;


}

main
